//
//  TOCAPPStoreConfig.xcconfig
//  Mems
//
//  Created by ios on 2022/3/4.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "BaseConfig.xcconfig"

// apple bundle id
PRODUCT_BUNDLE_IDENTIFIER = com.hanin.Mems.appstore

// 产品名称
PRODUCT_NAME = TTT

// $(TARGET_NAME)
//TARGET_NAME = 声音

//项目名称 PROJECT_NAME

// 产品模块名称
//PRODUCT_MODULE_NAME = "APPMember"


SWIFT_ACTIVE_COMPILATION_CONDITIONS = TOCAPPStore

// $(inherited) appname
INFOPLIST_KEY_CFBundleDisplayName = MemLL

PRODUCT_BUNDLE_NAME = df

//app版本
MARKETING_VERSION = 1.2.3

//build版本
CURRENT_PROJECT_VERSION = 3

